[submodule "modules/mod-playerbots"]
	path = modules/mod-playerbots
	url = https://github.com/mod-playerbots/mod-playerbots.git
	branch = master
[submodule "modules/mod-player-bot-level-brackets"]
	path = modules/mod-player-bot-level-brackets
	url = https://github.com/DustinHendrickson/mod-player-bot-level-brackets
	branch = main
[submodule "modules/mod-junk-to-gold"]
	path = modules/mod-junk-to-gold
	url = https://github.com/noisiver/mod-junk-to-gold
	branch = master
[submodule "modules/mod-ollama-chat"]
	path = modules/mod-ollama-chat
	url = https://github.com/DustinHendrickson/mod-ollama-chat
	branch = main
